<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>회원 목록</title>
</head>
<body>
<h1>회원 목록</h1>
<table>
  <thead>
  <tr>
    <th>아이디</th>
    <th>이름</th>
    <th>이메일</th>
    <th>수정</th>
    <th>삭제</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member : ${members}">
    <td th:text="${member.id}">1</td>
    <td th:text="${member.name}">홍길동</td>
    <td th:text="${member.email}">hong@example.com</td>
    <td><a th:href="@{|/member/${member.id}/update-form|}">수정</a></td>
    <td>
      <form th:action="@{|/member/${member.id}/delete|}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">삭제</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/member/create-form">새 회원 추가</a>
</body>
</html>
